.tmp
.idea
.yarn
node_modules
supervisor.log
supervisor-rest-server2.conf
rollup.config.ts
tsconfig.node.json
yarn.lock
tsconfig.json
supervisord-monitor.service
vite.config.mts
supervisor.stdout.log
tsconfig.app.json
preview.gif
tsconfig.build.json
supervisor2.stdout.log
supervisor-rest-server.supervisor.conf
.aiignore
.browserslistrc
.editorconfig
.env
.env.example
.eslintrc-auto-import.json
.gitignore
.npmignore
.yarnrc.yml
build.ts
config.json
env.d.ts
eslint.config.js
index.html
install.sh